@model CinemaTicket.Models.ViewModels.TicketVM


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Ticket.Id" hidden />
    <input asp-for="Ticket.ImageUrl" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Ticket.Id != Guid.Empty ? "Update": "Create") Movie Ticket</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class="mb-3">
                    <label asp-for="Ticket.TitleOfMovie" class="control-label"></label>
                    <input asp-for="Ticket.TitleOfMovie" class="form-control" />
                    <span asp-validation-for="Ticket.TitleOfMovie" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Ticket.Description" class="control-label"></label>
                    <textarea asp-for="Ticket.Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Director" class="control-label"></label>
                    <input asp-for="Ticket.Director" class="form-control" />
                    <span asp-validation-for="Ticket.Director" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Actors" class="control-label"></label>
                    <input asp-for="Ticket.Actors" class="form-control" />
                    <span asp-validation-for="Ticket.Actors" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Country" class="control-label"></label>
                    <input asp-for="Ticket.Country" class="form-control" />
                    <span asp-validation-for="Ticket.Country" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.OriginalLanguage" class="control-label"></label>
                    <input asp-for="Ticket.OriginalLanguage" class="form-control" />
                    <span asp-validation-for="Ticket.OriginalLanguage" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.ListPrice" class="control-label"></label>
                    <input asp-for="Ticket.ListPrice" class="form-control" />
                    <span asp-validation-for="Ticket.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Price" class="control-label"></label>
                    <input asp-for="Ticket.Price" class="form-control" />
                    <span asp-validation-for="Ticket.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Price10" class="control-label"></label>
                    <input asp-for="Ticket.Price10" class="form-control" />
                    <span asp-validation-for="Ticket.Price10" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.Price20" class="control-label"></label>
                    <input asp-for="Ticket.Price20" class="form-control" />
                    <span asp-validation-for="Ticket.Price20" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Ticket.ImageUrl" ></label>
                    <input type="file" id="uploadBox" name="file" class="form-control" />
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.CategoryId" class="control-label"></label>
                    <select asp-for="Ticket.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Ticket.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="Ticket.GenreId" class="control-label"></label>
                    <select asp-for="Ticket.GenreId" asp-items="@Model.GenreList" class="form-select">
                        <option disabled selected>--Select Genre--</option>
                    </select>
                    <span asp-validation-for="Ticket.GenreId" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.Ticket.Id != Guid.Empty)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }
                    <a asp-controller="Ticket" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>

            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="@Model.Ticket.ImageUrl"
                 width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });

    function ValidateInput(){
        if(document.getElementById("uploadBox").value==""){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please upload an Image!',
            });
            return false;
        }
        return true;
    }
</script>
}
